# Change the following configuration parameters according to your need.

# postgresql connection
connection:
    user: 'YOUR_USERNAME'
    database: 'DATABASE'
    password: 'PASSWORD'
    port: 5432
    max: 10

# channels to LISTEN to
channels: [CHANNEL_1, CHANNEL_2]

# list of handler scripts (javascript)
handlers:
    - path/to/handlers.js
    - path/to/another/handler-script.js
