# Change the following configuration parameters according to your need.

# postgresql connection
connections:
    -
        connection:
            user: 'YOUR_USERNAME'
            database: 'DATABASE'
            password: 'PASSWORD'
            port: 5432
            max: 10

        # channels to LISTEN to
        channels: [CHANNEL_1, CHANNEL_2]

        # list of listener scripts (javascript)
        scripts:
            - path/to/listener.js
            - path/to/another/listener.js

    -
        connection:
            user: 'YOUR_USERNAME'
            database: 'ANOTHER_DATABASE'
            password: 'PASSWORD'
            port: 5432
            max: 10

        # channels to LISTEN to
        channels: [CHANNEL_3, CHANNEL_4]

        # list of listener scripts (javascript)
        scripts:
            - path/to/db_listener.js
            - path/to/another/db_listener.js
